<app-navbar></app-navbar>
<ion-header [translucent]="true">

</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="background" style="height: 90%; width: 100%;"></ion-grid>
  <ion-grid fixed>
    <ion-row id="section1" style="margin: 10% 10% 10% 10%; text-align: center;">
      <ion-col size="12">
        <h1>
          Meet morphy in his new adventure across dreams
        </h1>
        <p>
          Morphy the little God of dreams awaits you in
          different dreams
        </p>
      </ion-col>
    </ion-row>
    <ion-row id="section2" style="margin: 5%; margin-top: 15%; text-align: right;">
      <ion-col size="6">
        <div>
          <h2>
            The protagonist of the story, Morphy
          </h2>
          <p>

            His main objetive is to recover his treasuse that was

            stoled by his big brother
          </p>
        </div>
      </ion-col>
      <ion-col size="6">
        imagen1
      </ion-col>
    </ion-row>
    <ion-row id="section2" style="margin: 5%; margin-top: 15%; text-align: left;">
      <ion-col size="6">
        imegn2
      </ion-col>
      <ion-col size="6">
        <div>
          <h4>
            Morphy's big brother and the antagonist of the story, Thanatos.
          </h4>
          <p>
            He likes to prank his little brother
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="section2" style="margin: 5%; margin-top: 15%; text-align: center;">
      <ion-col size="12">
        <h2>Follow morphy in his dreamed adventure</h2>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 5%; text-align: center;">
      <ion-col size="3">
        <a href="https://store.steampowered.com">
          <img src="../../assets/icon/steamIcon.png" alt="steam">
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <img src="../../assets/icon/youtubeIcon.png" alt="youtube">
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="https://www.xbox.com">
          <img src="../../assets/icon/xboxIcon.png" alt="xbox">
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="https://www.playstation.com">
          <img src="../../assets/icon/psIcon.png" alt="play station">
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
