<ion-header>
  <ion-toolbar>
    <ion-title>Register into the dreams!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-margin-horizontal">
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <form [formGroup]="formRegister" (ngSubmit)="registerSubmit()">
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Name</ion-label>
          <ion-input formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" required></ion-input>
        </ion-item>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2">
            <ion-button color="danger" [routerLink]="['/home']">
              <ion-label>Cancel</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" type="submit" [disabled]="!formRegister.valid">
              <ion-label>Register</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
